#xuanze{
    width: 1200px;
    margin: 20px auto;
}
#phone_list{
    width: 1200px;
    margin: 20px auto;
    border:1px solid gray;
}
#phone_list li{
    height: 40px;
    margin: 0 20px;
    border-bottom:1px solid gray;
    position: relative;
}
#phone_list li:first-child{
    overflow: hidden;
}
#phone_list li:first-child::after{
    content: attr(data-index);
    display: inline-block;
    background-color: #fff;
    line-height: 40px;
    position: absolute;
    top:0;
    right: 0;
    text-align: center;
    font-size: 16px;
    width: 80px;
}
#phone_list li:last-child{
    border: none;
}
#phone_list li>div{
    font-size: 16px;
    color: #333;
    line-height: 40px;
    padding: 0 25px 0 0;
    display: inline-block;
}
#phone_list li>div:hover{
    color: #ef4035;
}
#phone_list li>div:first-child{
    width: 80px;
    color: #999;
    padding-left: 10px;
}
#fenlei{
    width:1200px;
    height: 36px;
    line-height: 36px;
    margin: 20px auto 10px;
    background-color: #fafafa;
}
#fenlei li{
    display: inline-block;
    padding: 0 20px;
}
#fenlei li.active{
    color: #fff;
    background-color: #ef4035;
}
#fenlei li>span{
    color: #ef4035;
}
#con .xiangqing>li{
    width: 230px;
    border:none;
    margin-right: 10px;
    margin-bottom: 10px;
}
#con .xiangqing>li:nth-of-type(5n){
    border:none;
     margin:none;
     margin-bottom: 10px;
}
#con .xiangqing>li:hover{
    box-shadow: 1px 1px 2px gray,-1px -1px 2px gray;
}
#page{
    height: 40px;
    width: 1200px;
    margin: 0 auto;
}
#page span{
    display: inline-block;
    text-align: center;
    border: 1px solid gray;
    min-width: 30px;
    padding: 5px;
}
#page span.active{
    color: #fff;
    background-color: #c00;
    border:none;

}
#page span:hover{
    border: 1px solid #c00;
}